@page
@model BookingFootballField.Pages.BookingField.IndexModel
@{
    ViewData["Title"] = "Booking Fields";
    Layout = "_Layout";
}

<h1 style="
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    font-weight: 600;
">Booking Fields</h1>


<div class="container">
    <div class="row">
        @foreach (var item in Model.FootballFields)
        {
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="item">
                            <div class="item1">   
                                <div class="fixImga">
                                    <img style="object-fit:cover"  src="@item.Image"/>
                                </div>   
                            </div>

                            <div class="item2">
                                <div class="item2Img">
                                    <div class=" item2Img1">
                                        <p>@Html.DisplayNameFor(model => model.FootballFields[0].Name): @Html.DisplayFor(modelItem => item.Name) </p>
                                        <p>@Html.DisplayNameFor(model => model.FootballFields[0].Price): @Html.DisplayFor(modelItem => item.Price) </p>
                                        <p>@Html.DisplayNameFor(model => model.FootballFields[0].Capacity): @Html.DisplayFor(modelItem => item.Capacity) </p>
                                    </div>
                                </div>
                                    <form style="margin-left:-2rem; width:80px" class="bookBtn" action="viewEventDetail">
                                      <a class="btn btn-primary" style="width=150px;height=100px;" asp-page="./Request" asp-route-fieldId="@item.Id">Book now!</a> 
                                </form>
                            </div>
                        </div>
                    </div>

        }
             </div>
        </div>
        <div style="display:flex; justify-content:center">
            <a class="btn btn-primary" asp-page="Create">Create New</a>
        </div>

