@page
@using DataAccess.Repository
@model BookingFieldManagement.Pages.FootballField.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="padding-top:2rem; display:flex; justify-content:center">Football Field</h1>

<p>
    
</p>
@{
    IFootballFieldRepository footballFieldRepository = new FootballFieldRepository();
    IList<BusinessObject.Model.FootballField> footballField = footballFieldRepository.GetList();
}

<div class="container">
    <div class="row">
    @foreach (var item in footballField){
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="item">
                        <div class="item1">   
                            <div class="fixImga">
                                <img style="object-fit:cover"  src="@item.Image"/>
                            </div>   
                        </div>

                        <div class="item2">
                            <div class="item2Img">
                                <div class=" item2Img1">
                                    <p>@Html.DisplayNameFor(model => model.FootballField[0].Name): @Html.DisplayFor(modelItem => item.Name) </p>
                                    <p>@Html.DisplayNameFor(model => model.FootballField[0].Price): @Html.DisplayFor(modelItem => item.Price) </p>
                                    <p>@Html.DisplayNameFor(model => model.FootballField[0].Status):  @Html.DisplayFor(modelItem => item.Status) </p>
                                </div>
                            </div>
                            <form class="bookBtn" action="viewEventDetail">
                                 <a style="margin-top:-2rem; width:80px" class="btn btn-success" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> <br>
                                 <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </form>
                        </div>
                    </div>
                </div>
            
             }
             </div>
        </div>
        <div style="display:flex; justify-content:center">
            <a class="btn btn-primary" asp-page="Create">Create New</a>
        </div>
       